<header class="header">
    <div style="display: flex; align-items: center">
        <button class="mobile-menu-toggle" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </button>
        <div class="logo">
            <div class="logo">
                <a href="index.html">
                    <img src="~/image/logo_goez.png" alt="Logo" title="Logo" />
                </a>
            </div>
            <span>EasyGo</span>
        </div>
    </div>

    <!-- <div class="nav-breadcrumb">
      <i class="fas fa-home"></i>
      <span>Form</span>
      <i class="fas fa-chevron-right"></i>
      <span>Quản lý dữ liệu</span>
    </div> -->

    <div class="header-right">
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm..." />
            <i class="fas fa-search"></i>
        </div>
        <div class="header-icons">
            <i class="fas fa-bell"></i>
            <!-- <i class="fas fa-cog"></i> -->
            <!-- <i class="fas fa-user-circle"></i> -->
        </div>
    </div>
</header>