<aside class="sidebar" id="sidebar">
    <button class="sidebar-toggle" onclick="toggleSidebarExpand()">
        <i class="fa-light fa-gear-complex" id="toggleIcon"></i>
    </button>

    <div class="sidebar-header">
        <div class="sidebar-logo">
            <div class="logo-icon">
                <img src="~/image/airplane2.png" alt="" />
            </div>
            <div class="logo-text">
                <div class="logo-title">Admin Panel</div>
                <div class="logo-subtitle">Quản trị hệ thống</div>
            </div>
        </div>
    </div>

    <nav class="sidebar-menu">
        <!-- <a href="#" class="menu-item active">
          <i class="fas fa-home"></i>
          <span class="menu-text">Trang chủ</span>
          <div class="tooltip">Trang chủ</div>
        </a> -->

        <a href="#" class="menu-item">
            <i class="fa-light fa-user-tie"></i>
            <span class="menu-text">Admin</span>
            <div class="tooltip">Admin</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-lock"></i>
            <span class="menu-text">Role</span>
            <div class="tooltip">Role</div>
        </a>

        <a href="/admin/user-manager" class="menu-item">
            <i class="fa-light fa-user"></i>
            <span class="menu-text">User</span>
            <div class="tooltip">User</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-books"></i>
            <span class="menu-text">Category</span>
            <div class="tooltip">Category</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-plane-departure"></i>
            <span class="menu-text">Tour</span>
            <div class="tooltip">Tour</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-location-dot"></i>
            <span class="menu-text">Location</span>
            <div class="tooltip">Location</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-timer"></i>
            <span class="menu-text">Booking</span>
            <div class="tooltip">Booking</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-blog"></i>
            <span class="menu-text">Blog</span>
            <div class="tooltip">Blog</div>
        </a>
        <a href="#" class="menu-item">
            <i class="fa-light fa-comments"></i>
            <span class="menu-text">Feedback</span>
            <div class="tooltip">Feedback</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-chart-simple"></i>
            <span class="menu-text">Statistical</span>
            <div class="tooltip">Statistical</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-utensils"></i>
            <span class="menu-text">Restaurant</span>
            <div class="tooltip">Restaurant</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-hotel"></i>
            <span class="menu-text">Hotel</span>
            <div class="tooltip">Hotel</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-truck-plane"></i>
            <span class="menu-text">Vehicle</span>
            <div class="tooltip">Vehicle</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-star-shooting"></i>
            <span class="menu-text">Service</span>
            <div class="tooltip">Service</div>
        </a>

        <a href="#" class="menu-item">
            <i class="fa-light fa-ticket"></i>
            <span class="menu-text">Coupons </span>
            <div class="tooltip">Coupons</div>
        </a>
    </nav>
</aside>